# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/

# Environments
.venv/
.env

gesture_env/

# Editor
.vscode/

# OS
.DS_Store

# Notebooks
.ipynb_checkpoints/
